
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<!--fancy text here, this is for test only-->
<h6>⚜Кои сме ние и какво правим?
На първо място, ние сме ДОБРОВОЛЦИ. А какво значи думата доброволец?
Буквално, доброволец означава "човек, допринасящ с личен труд на своя "добра воля".
Безвъзмездно. Безкористно. "Крадящ" ВРЕМЕ от личния си живот, за да помага на други.Toва е нещо,което човек върши през свободното си време,когато не е на работа.

⚜Какво получава един доброволец от всичко, което върши?
Отговорът е прост: вътрешно удовлетворение.
И това ни стига.
Щастливи сме не когато получаваме повече, а когато даваме повече.
Когато даваме любов, закрила и сигурност на беззащитни и нямащи нищо и никого на Света, а именно – бездомните животни.
Страстно отдадени и обединени сме в каузата за тяхното добруване.

Ежедневно получаваме куп сигнали за бедстващи животинки – простреляни, премазани, заклещени, изтезавани, недохранени, болни... Навсякъде сме и едновременно – НИКЪДЕ...
Факт е, че нямаме физическата възможност да помогнем на всички нуждаещи се и това ни тежи ужасно много. Друг факт е, че ако повече хора се обединят в дадена кауза и вършат по МАЛКО неща за нея, тя би била в пъти по-успешна, отколкото ако шепа хора вършат МНОГО неща.
Реално, ние сме шепа хора, броящи се на пръстите на едната ви ръка...

Бихте ли помогнали това да се промени?
Ако отговорът ви е "да", прочетете как по-долу.

⚜Искам да помогна. Как?

1. ДАРИ.
При изпаднал котак в беда, първа стъпка към спасяването му е да му бъде оказана ветеринарна помощ.
Това, разбира се, е свързано с финанси. Няма ветеринарна клиника, която да извършва тази услуга безвъзмездно.
В повечето случаи животните са тежко пострадали и имат нужда от СПЕШНА лекарска намеса.
Разходите по лечението винаги са високи. Малцина биха се справили сами с тях. Ние не сме от малцината...

Котаците, които вече сме спасили и излекували, живеят в изградения от нас миниприют(който винаги е с преизпълнен капацитет от обитатели), също имат разходи за храна, тоалетна, наем и ветеринарни услуги.
Опитваме се да контролираме и популацията на бездомниците,чрез кастрации.
Ужасно трудно ни е да координираме всички тези разходи...
Бъди част от каузата и помогни да продължаваме напред, като станеш ДАРИТЕЛ.

2. Не желаеш да се обвързваш с осиновяване на котка? Стани ПРИЕМЕН ДОМ.Животинката просто ще обитава ВРЕМЕННО твоя дом, докато ѝ намерим постоянен такъв. От теб не се изисква друго, освен да я храниш, поиш и обсипваш с ласки. Не звучи зле, а? :)

Наличието на приемен дом многократно увеличава шансовете за живот на даден кот. Ако нямаме къде да го настаним, не можем да го измъкнем от улицата, което значи, че риска от реализиране на по-горе изброените заплахи, които често връхлитат бездомниците, е почти... 100%.
Ако разполагахме с приемни домове, бихме могли да помогнем на много повече животни.
Отвори дома си,помогни като станеш ПРИЕМЕН ДОМ!

3. Доброволствай в котешкия ни миниприют.
Търсят се активни помощници, които да:
•посещават приюта често и редовно с цел почистване, •хранене и игри с котаците (а те лудеят мощно!);
•транспортират животни в рамките на града;
•помагат със залавянето на котки с цел кастрация и лечение;
•разпространяват дейно и идейно каузата с цел пропагандиране на хуманно отношение към бездомните животни.

Бъди промяната, която искаш да видиш в Света, присъедини се към каузата !
:)</h6>