@{
    ViewData["Title"] = "About";
}
@Html.Partial("_Info");
<h2>About</h2>
<div class="body"></div>
<div class="text-center meow-center container">
    <h6 class="text-on-form col-lg-8 col-lg-offset-2">
        Meow представлява уеб приложение за котки. След регистрация в сайта можете да добавяте своите домашни любимци, а също така
        и да намерите дом на тези, които нямат. Meow съдържа реални профили на котенца за осиновяване. С това цели да се покаже
        една добра инициатива, за която може да се намери информация по-долу.
        <br />
        <br />
        <a href="https://www.facebook.com/iCatRescue/" class="btn btn-default" target="_blank">iCatRescue</a>
    </h6>
</div>