@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/background.css">
<link rel="stylesheet" href="~/css/home.css">

<div class="body"></div>
<div class="text-center meow-center container">
    <h6 class="text-on-form">
        Meow е индивидуален проект от курса C# MVC Frameworks - ASP.NET Core - октомври 2017 на Софтуерния университет.
        Meow представлява уеб приложение за котки. След регистрация в сайта можете да добавяте своите домашни любимци, а също така
        и да намерите дом на тези, които нямат. Meow съдържа реални профили на котенца за осиновяване. С това цели да се покаже
        една добра инициатива, за която, ако е интересно, може да се намери информация по-долу.
    </h6>
    <a href="https://www.facebook.com/iCatRescue/" class="btn btn-default" target="_blank">iCatRescue</a>
</div>