@{
    ViewData["Title"] = "About";
}
@Html.Partial("_Info");
<h2>About</h2>
<div class="body"></div>
<div class="text-center meow-center container">
    <h6 class="text-on-form">
        Meow представлява уеб приложение за котки. След регистрация в сайта можете да добавяте своите домашни любимци, а също така
        и да намерите дом на тези, които нямат. Meow съдържа реални профили на котенца за осиновяване. С това цели да се покаже
        една добра инициатива, за която може да се намери информация по-долу.
        <br />
        <br />
        <a href="https://www.facebook.com/iCatRescue/" class="btn btn-default" target="_blank">iCatRescue</a>
        <br />
        <br />
        Ако желаете да помогнете на доброволческата фондация iCatRescue, може да дарите дадена сума за болните бездомни котенца, с която фондацията
        ще направи нужното за да бъде дадена нужната помощ на котенцата в нужда. Информация може да намерите по-долу.
        <br />
        <br />
        <a href="https://www.paypal.com/donate/?token=Ns0ZiRUN2qMhzmHV7OsXIvSButDpW9MfIuMq7vFKxT6eVAOQTl0p-IEt3B2t_Rxq9hkMCW&country.x=BG&locale.x=BG" class="btn btn-default" target="_blank">Donnate</a>
    </h6>
    
</div>