@{
    ViewData["Title"] = "CatsDMS";
}

<h2>CatsDMS</h2>
<link rel="stylesheet" href="~/css/background.css">
<link rel="stylesheet" href="~/css/home.css">
<div class="body"></div>
<div class="text-center meow-center container">
    <h6 class="text-on-form">
        <p><strong>Искам да помогна. Как ?</strong></p>
        <p><strong>1. ДАРИ.</strong></p>
        <p>
            При изпаднал котак в беда, първа стъпка към спасяването му е да му бъде оказана ветеринарна помощ <i class="fas fa-ambulance" style="width:20px; height:20px; color:white"></i>.
            Това, разбира се, е свързано с финанси <i class="fas fa-money-bill-alt" style="width:20px; height:20px; color:white"></i>. Няма ветеринарна клиника, която да извършва тази услуга безвъзмездно.
            В повечето случаи животните са тежко пострадали и имат нужда от <strong>СПЕШНА</strong> лекарска намеса <i class="far fa-heart" style="width:20px; height:20px; color:white"></i>.
            Разходите по лечението винаги са високи. Малцина биха се справили сами с тях. Ние не сме от малцината...
            Котаците, които вече сме спасили и излекували, живеят в изградения от нас миниприют(който винаги е с преизпълнен капацитет от обитатели), също имат разходи за храна, тоалетна, наем и ветеринарни услуги.
            Опитваме се да контролираме и популацията на бездомниците,чрез кастрации.
            Ужасно трудно ни е да координираме всички тези разходи...
            Бъди част от каузата и помогни да продължаваме напред, като станеш <strong>ДАРИТЕЛ</strong>.
        </p>
        <p><strong>2. Не желаеш да се обвързваш с осиновяване на котка ?</strong></p>
        <p>
            Стани <strong>ПРИЕМЕН ДОМ</strong> <i class="fas fa-home" style="width:20px; height:20px; color:white"></i>! Животинката просто ще обитава <strong>ВРЕМЕННО</strong> твоя дом, докато ѝ намерим постоянен такъв. От теб не се изисква друго, освен да я храниш, поиш и обсипваш с ласки. Не звучи зле, а? <i class="far fa-smile" style="width:20px; height:20px; color:white"></i></p>
            Наличието на приемен дом многократно увеличава шансовете за живот на даден кот. Ако нямаме къде да го настаним, не можем да го измъкнем от улицата, което значи, че риска от реализиране на по-горе изброените заплахи, които често връхлитат бездомниците, е почти... <strong>100%</strong>.
            Ако разполагахме с приемни домове, бихме могли да помогнем на много повече животни.
            Отвори дома си,помогни като станеш <strong>ПРИЕМЕН ДОМ</strong> <i class="fas fa-home" style="width:20px; height:20px; color:white"></i>!
        </p>
        <p><strong>3. Доброволствай в котешкия ни миниприют.</strong></p>
        <p>
            Търсят се активни помощници, които да:
            •посещават приюта често и редовно с цел почистване, •хранене и игри с котаците (а те лудеят мощно!);
            •транспортират животни в рамките на града;
            •помагат със залавянето на котки с цел кастрация и лечение;
            •разпространяват дейно и идейно каузата с цел пропагандиране на хуманно отношение към бездомните животни.
        </p>
        <strong>Бъди промяната, която искаш да видиш в Света, присъедини се към каузата !</strong>
        <!--problem with the mail icon-->
        <p><strong>За контакти: <a href="contact@icatrescue.com"><i class="far fa-envelope" style="width:20px; height:20px; color:white"> ! </i></a></strong></p>
        <p><strong>От бутона долу може да помогнете на някое нуждаещо се котенце<i class="fas fa-arrow-down" style="width:20px; height:20px; color:white"></i></strong></p>
            <a href="https://www.paypal.com/donate/?token=UQGQthGK807p25fnes_d_tkmO8tiPWnGGooKINewCmEkkYA0-Fa6k5VsLI_1-AgGimpuu0&country.x=BG&locale.x=BG" class="btn btn-default" target="_blank">DMS Cats</a>
        <p><strong>Искрено ваши, екип iCat's.<i class="far fa-heart" style="width:20px; height:20px; color:white"></i></strong></p>
    </h6>
</div>


