@{
    ViewData["Title"] = "Meow";
}

<link rel="stylesheet" href="~/css/background.css">
<link rel="stylesheet" href="~/css/home.css">

<div class="body"></div>
<div class="text-center meow-center">
    <h1 class="text-on-form">Hello, human! Welcome to Meow!</h1>
    <a asp-controller="Cats" asp-action="All" class="btn btn-default">Home Cats</a>
    <a asp-controller="Cats" asp-action="Adoption" class="btn btn-default">Adopt Kitty</a>
</div>