
@{
    ViewData["Title"] = "All Cats";
}

<!--add kitty-->
<a asp-action="Add">Add Kitty</a>

<div class="row">

    @foreach (var cat in this.Model)
    {
        <div class="col-md-4">
            <div class="hovereffect">
                <a asp-action="Details">
                    <img class="img-fluid img-circle img-cat" src="http://thecatapi.com/api/images/get?format=src&type=gif" alt="">
                </a>
            </div>
        </div>
    } 
</div>