
@{
    ViewData["Title"] = "Home Cats";
}


<div class="container">

    <h1 class="my-4 text-center text-lg-left">Home Cats in Meow</h1>
   
    <!--add home kitty-->
    <div class="text-center">
        <a asp-action="Add" class="btn btn-outline-secondary">Add</a>
    </div>

    <div class="row text-center text-lg-left">

        @foreach (var cat in this.Model)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 hovereffect">
                <a asp-action="Details" asp-route-id="@cat.Id" class="d-block mb-4 h-100">
                    @{
                        var imgSrc = cat.Image != null ? ImageExtensions.ByteArrayToImage(cat.Image) : "../images/default-cat.png";
                    }
                    <img class="img-fluid img-thumbnail img-cat img-circle" src="@imgSrc" alt="@cat.Name">
                </a>
            </div>
        }
    </div>
</div>