@model RequestAdoptionViewModel
@{
    ViewData["Title"] = "Request";
}

<h2>Request</h2>

Are you sure you want to request adoption to the cat?
<a asp-action="Request" asp-route-id="@this.Model.Id" asp-route-username="@this.Model.Username">Yes</a>