/*fonts*/
@font-face {
    font-family: 'Evolventa-Regular';
    src: url("../fonts/Evolventa-Regular.ttf");
}

@font-face {
    font-family: 'Cats';
    src: url("'../fonts/All things CAT!.ttf'")
}

body {
    font-family: "Evolventa-Regular", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* my styles */

/* listing all cats style */
.img-cat {
    height: 250px !important;
    width: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.hovereffect:hover .img-cat {
    opacity: 0.3;
}

a {
    color: #585858;
}

    a:hover {
        color: #989898;
    }

    a:visited {
        color: #585858;
    }

.text {
    position: relative;
    padding: 110px 350px 28px 45px;
}