/*fonts*/
@font-face {
    font-family: 'Evolventa-Regular';
    src: url("../fonts/Evolventa-Regular.ttf");
}

@font-face {
    font-family: 'Cats';
    src: url("'../fonts/All things CAT!.ttf'")
}

body {
    font-family: "Evolventa-Regular", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    margin: 0;
    background: #fff;
    color: #000000;
}

.body-blur {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(../images/weird-girl.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
}

.text-on-form {
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* my styles */

/* listing all cats style */
.img-cat {
    height: 250px !important;
    width: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.hovereffect:hover .img-cat {
    opacity: 0.3;
}

a {
    color: #585858;
}

    a:hover {
        color: #989898;
    }

    a:visited {
        color: #585858;
    }

.text {
    position: relative;
    padding: 110px 350px 28px 45px;
}

/*Home*/
.meow-center {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}
/*End Home*/

/*Details*/
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}
/*End Details*/

/*Form*/
.grad {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

    .header div {
        float: left;
        color: #fff;
        font-size: 35px;
        font-weight: 200;
    }

        .header div span {
            color: #5379fa !important;
        }

.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

    .login input {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
    }

        .login input[type=password] {
            width: 250px;
            height: 30px;
            background: transparent;
            border: 1px solid rgba(255,255,255,0.6);
            border-radius: 2px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top: 10px;
        }

.login-button {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

    .login-button:hover {
        opacity: 0.8;
    }

    .login-button:active {
        opacity: 0.6;
    }

.login input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login-button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
    color: rgba(255,255,255,0.6);
}

input:disabled {
    background: transparent;
}

.text-on-form {
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
/*End Form*/