body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(../images/weird-girl.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
}