@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>

<link rel="stylesheet" href="~/css/form.css">
<div class="body"></div>
<div class="grad"></div>

<br>
<div class="login">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <input asp-for="Username" class="form-control" placeholder="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        @*<div class="checkbox">
            <label asp-for="RememberMe" style="color:gray">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>*@
        <div class="form-group">
            <br />
            <a asp-action="ForgotPassword" style="color:gray">Forgot your password?</a>
            <br />
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" style="color:gray">Register as a new user?</a>
        </div>
        <button type="submit" class="login-button" style="width:250px">Log in</button>
    </form>

    <!--FB login form-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=574949359531147&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" >
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<footer id="footer">
    <p>&copy; 2017 - Meow</p>
    <div class="inner">
        <div class="icons">
            <a href="https://www.facebook.com/iCatRescue/" class="icon round fa-facebook"><span class="label">Facebook</span></a>
            <a href="https://www.instagram.com/iCat_Rescue/" class="icon round fa-instagram"><span class="label">Instagram</span></a>
            <a href="https://www.youtube.com/channel/UC60WnyKkAtApMDCjDAp1HVQ" class="icon round fa-fa-youtube"><span class="label">Youtube</span></a>
        </div>
    </div>
</footer>