@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/form.css">
<div class="body"></div>
<div class="grad"></div>
<br>

<div class="login">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
        <input asp-for="Email" class="form-control broken-input" placeholder="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Name" class="form-control" placeholder="name" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Location" class="form-control" placeholder="location" />
        <span asp-validation-for="Location" class="text-danger"></span>

        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>

        <input asp-for="Birthdate" class="form-control" placeholder="birthdate" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
        <input asp-for="Username" class="form-control" placeholder="username" />
        <span asp-validation-for="Username" class="text-danger"></span>
        <input asp-for="Password" class="form-control" placeholder="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="confirm password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <input asp-for="ProfilePhoto" type="file" class="form-control" />
        <button type="submit" class="login-button">Register</button>
    </form>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    