@model UserDeleteFormModel
@{
    ViewData["Title"] = "Delete user";
}

<link rel="stylesheet" href="~/css/form.css">
<div class="body"></div>
<div class="grad"></div>

<br>
<div class="login">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Name" class="form-control" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>

        <input type="hidden" asp-for="Id" class="form-control" disabled />
        <span asp-validation-for="Id" class="text-danger"></span>

        <button type="submit" class="login-button" style="width:250px">Submit</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}