body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000000;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(https://meowcatrescue.blob.core.windows.net/defaultimages/weird-girl.jpg);
    background-size: cover;
    z-index: 0;
}

.text-on-form {
    color: white;
}