<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>@ViewData["Title"] - Meow</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Meow</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--Administrator have access to Managing all Cats and Users-->
                    @if (this.User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <!--home cats-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Cats<span class="caret"></span></a>  
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="Cats" asp-controller="HomeCats" asp-action="All">Home Cats</a></li>
                                <li><a asp-area="Cats" asp-controller="HomeCats" asp-action="Manage">Manage</a></li>
                            </ul>
                        </li>

                        <!--cats for adoption-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">iCatRescue<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Adoption">Cats</a></li>
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Manage">Manage</a></li>
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Requests">Requests</a></li>
                            </ul>
                        </li>

                        <!--users-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Users<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Users" asp-action="All">All Users</a></li>

                                <!--user manager? todo-->
                                <li><a asp-area="Admin" asp-controller="Users" asp-action="Manage">Manage</a></li>
                            </ul>
                        </li>
                    }

                    <!--Volunteer have access to Managing Adoption Cats-->
                    @if (this.User.IsInRole(WebConstants.VolunteerRole) && 
                            !this.User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <li><a asp-area="Cats" asp-controller="HomeCats" asp-action="All">Cats</a></li>
                         <!--cats for adoption-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">iCatRescue<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Adoption">Cats</a></li>
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Manage">Manage</a></li>
                                <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Requests">Requests</a></li>
                            </ul>
                        </li>

                        <li><a asp-area="" asp-controller="Users" asp-action="All">Users</a></li>

                    }

                    <!--find smarter way for checking normal user-->
                    @if (!this.User.IsInRole(WebConstants.AdministratorRole)
                            && !this.User.IsInRole(WebConstants.VolunteerRole))
                    {
                        <li><a asp-area="Cats" asp-controller="HomeCats" asp-action="All">Cats</a></li>
                        <li><a asp-area="Cats" asp-controller="AdoptionCats" asp-action="Adoption">iCatRescue</a></li>
                        <li><a asp-area="" asp-controller="Users" asp-action="All">Users</a></li>
                    }

                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CatsDMS">CatsDMS</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>