
@{
    ViewData["Title"] = "Requests";
}

<h2>Requests</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Owner
            </th>
            <th>
                Details
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in this.Model)
        {
            <tr>
                <th>
                    @cat.Name
                </th>
                <th>
                    @cat.Owner
                </th>
                <th>
                    <a class="btn btn-sm btn-default" asp-area="" asp-controller="Cats" asp-action="Details" asp-route-id="@cat.Id">Details</a>
                </th>
                <th>
                    <!--todo-->
                    <a class="btn btn-sm btn-default" asp-area="Volunteer" asp-controller="Cats" asp-action="Give" asp-route-id="@cat.Id">Give</a>                  
                </th>
            </tr>
        }
    </tbody>
</table>